<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="pageloader is-danger" [ngClass]="{'is-active': loading}">
    <span class="title">{{loadingMessage}}</span>
  </div>

  <div class="columns is-variable is-8" style="text-align:center">
    <div class="column is-3">
      <simulation-picker [currentSimulation]=simulation (upload)="onUpload($event)" [retrainMessage]=retrainMessage (retrain)="onRetrain()"></simulation-picker>
    </div>
    <div class="column">
      <div class="columns is-gapless">
          <div class="column is-10">
            <p class="title is-2 has-text-centered">Intelligent Routing - Admin interface</p>
          </div>
          <div class="column is-2">
            <img src="../assets/odigo_logo.jpg" style="max-height: 70px">
          </div>
      </div>
      <predictor [simulation]=simulation *ngIf="simulation.interactions.length > 0"></predictor>
      <chart [simulation]=simulation [refresher]="simulation.interactions.length" *ngIf="simulation.interactions.length > 0"></chart>
    </div>
  </div>

  <div class="modal is-active" *ngIf="displayModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Upload interactions</p>
        <button class="delete" aria-label="close" (click)="closeModals()"></button>
      </header>
      <section class="modal-card-body" style="text-align:center">
        <p class="title is-6">You are going to lose the simulations you're working on!</p>
        <button class="button is-fullwidth is-primary" style="border-radius: 10px;" (click)="triggerDownload()">Download interactions</button><br>
        <p class="title is-6">When you are ready:</p>
        <label for="file-upload" class="button is-primary" class="custom-file-upload">
          <span style="vertical-align: middle;">Upload interactions</span>
        </label>
        <input class="button " id="file-upload" type="file" accept=".json" style="display: none" (change)="onFileChange($event)"/>          
      </section>
    </div>
  </div>

  <div class="modal is-active" *ngIf="uploadNeeded">
    <div class="modal-background" style="background-color: hsl(345.5, 97.1%, 59.8%);"></div>
    <div class="modal-card">
      <p class="title is-4" style="text-align: center; color:white">No call center interactions over Zendesk, upload some to continue!</p>
      <label for="file-upload" class="button is-primary" class="custom-file-upload2">
        <span style="vertical-align: middle;">Upload interactions</span>
      </label>
      <input class="button " id="file-upload" type="file" accept=".json" style="display: none" (change)="onFileChange($event)"/>
    </div>
  </div>
</div>