.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    background-color:hsl(345.5, 97.1%, 59.8%);
    vertical-align: middle;
    width: 100%;
    height: 2.25em;
    color: white;
    text-align: center;
}

.custom-file-upload2 {
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: white;
    vertical-align: middle;
    width: 100%;
    height: 2.25em;
    text-align: center;
}

#overlay {
    position: absolute;
    top: 0px;
    left:  0px;
    z-index:  99;
    background:  rgba(0,0,0,0.8);
    width:  100%;
    height: 100%;
}