<br>
<div class="card">
  <header class="card-header"> 
    <p class="title is-size-5" style="padding: 1%; width: 100%; text-align: left; margin-top: 5px; margin-bottom: 0">
      Review your training data
    </p>
    <div class="select is-primary">
      <select [(ngModel)]="target" (ngModelChange)=generateGraph()>
        <option *ngFor="let option of targetOptions" [value]="option.id">{{option.value}}</option>
      </select>
    </div>
  </header>
  <div class="card-content">
    <div id="graphDiv"></div>
  </div>
</div><br>