<div class="card">
  <header class="card-header">
    <p class="title is-size-5" style="padding: 1%; width: 100%; text-align: left">
      Get routing prediction: fill manually caller's information
    </p>
  </header>
  <div class="card-content" style="text-align: left">
    <div>
      <div class="columns is-gapless">
        <div class="column">
          <div class="field">
              <label class="label">Sex:</label>
              <div class="control">
                <div class="select is-primary">
                  <select [(ngModel)]="sex">
                    <option *ngFor="let option of sex_options" [value]="option.id">{{option['text']}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-4">
              <div class="field">
                  <label class="label">IVR choice:</label>
                  <div class="control">
                    <div class="select is-primary">
                      <select [(ngModel)]="intent">
                        <option *ngFor="let option of IVR_option" [value]="option.id">{{option['text']}}</option>
                      </select>
                    </div>
                  </div>
                </div>
          </div>
          <div class="column">
            <div class="field">
              <div class="control">
                <label class="label">Age:</label>
                <input class="input is-primary" style="width: 80%" type="number" step="1" min="18" [(ngModel)]="age">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <div class="control">
                <label class="label">Client since:</label>
                <input class="input is-primary" style="width: 80%" type="number" step="1" min="1967" max="2019" [(ngModel)]="year_of_arrival">
              </div>
            </div>
          </div>
        </div>
      
        <div class="slidecontainer">
          <label class="label">Salary: {{salary_options[salary]['text']}} per year</label>
          <input type="range" min="0" max="5" class="slider" [(ngModel)]="salary">
        </div><br>
          
        <button class="button is-primary is-fullwidth" (click)="predictBestAgent()" [disabled]='!predictable'>Predict routing</button>
        <p class="title is-size-5" style="text-align: center; color:hsl(345.5, 97.1%, 59.8%)" *ngIf='!predictable'><br>
          Make at least one agent available, then refresh availability and wait for the ML algorithm to train in the background
        </p>
      </div>
  </div>

  <div class="modal is-active" [ngClass]="{'modal': true, 'is-active': displayPredictionModal}">
    <div class="modal-background"></div>
    <div class="modal-card" style="width:90%; height: auto; text-align: center;">
      <header class="modal-card-head">
        <p class="modal-card-title">Algorithm result</p>
        <button class="delete" aria-label="close" (click)="closeModals()"></button>
      </header>
      <section class="modal-card-body">
        <div class="columns is-vcentered" style="margin: 0">
          <div class="column is-3">
            <div class="card">
              <header class="card-header">
                <p class="title is-5" style="padding: 5px; margin: auto">Mocked customer infos:</p>
              </header>
              <div class="card-content" style="text-align:left">
                <p class="title is-6">Intent: {{IVR_option[intent]['text']}}</p>
                <p class="title is-6">Sex: {{sex_options[sex]['text']}}</p>
                <p class="title is-6">Age: {{age}} years old</p>
                <p class="title is-6">Salary: {{salary_options[salary]['text']}}</p>
                <p class="title is-6">Client since: {{year_of_arrival}}</p>
              </div>
            </div>
          </div>
          <div class="column">
            <table class="table is-striped is-hoverable is-fullwidth" style="text-align: center">
              <thead>
                <tr>
                  <th style="text-align: center">Status</th>
                  <th style="text-align: center"> Agent </th>
                  <th style="text-align: center">Final<br>score</th>
                  <th style="text-align: center">Customer<br>satisfaction</th>
                  <th style="text-align: center">Agent<br>satisfaction</th>
                  <th style="text-align: center">Agent<br>efficiency</th>
                  <th style="text-align: center">Business<br>outcome</th>
                </tr>
              </thead>
              
              <tbody>
                <tr *ngFor="let agentInfo of prediction, index as index">
                  <td style="text-align: center">
                    <span class="icon is-small" style="color: red" *ngIf="agentStatus[agentInfo['agent_number'] - 1] != 12">
                      <i class="fas fa-times"></i>
                    </span>
                    <span class="icon is-small" style="color: green" *ngIf="agentStatus[agentInfo['agent_number'] - 1] == 12">
                      <i class="fas fa-check"></i>
                    </span>
                  </td>
                  <td style="text-align: center" [ngStyle]="{'text-decoration': agentStatus[agentInfo['agent_number'] - 1] == 12 ? '' : 'line-through'}">Agent {{agentInfo['agent_number']}}</td>
                  <td style="text-align: center"><strong>{{agentInfo['score']}}</strong></td>
                  <td style="text-align: center">{{agentInfo['customer_satisfaction']}}</td>
                  <td style="text-align: center">{{agentInfo['agent_satisfaction']}}</td>
                  <td style="text-align: center">{{agentInfo['call_duration']}}</td>
                  <td style="text-align: center">{{agentInfo['business_outcome']}}</td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th style="text-align: center">Weights</th>
                  <th style="text-align: center; font-weight: normal">{{targetValue['customer_satisfaction']}}%</th>
                  <th style="text-align: center; font-weight: normal">{{targetValue['agent_satisfaction']}}%</th>
                  <th style="text-align: center; font-weight: normal">{{targetValue['call_duration']}}%</th>
                  <th style="text-align: center; font-weight: normal">{{targetValue['business_outcome']}}%</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="column is-3">
            <div class="card">
              <header class="card-header">
                <div style="margin: auto">
                  <p class="title is-5" style="padding: 5px; margin-bottom: 0;">Agent infos: </p>
                  <div class="select">
                    <select [(ngModel)]="agent">
                      <option *ngFor="let option of agentOptions" [value]="option.id">{{option.value}}</option>
                    </select>
                  </div>
                </div>
              </header>
              <div class="card-content" style="text-align:left" *ngIf="agentInfo">
                <p class="title is-6">Name: {{agentInfo[agent]['agent_name']}}</p>
                <p class="title is-6">Sex: {{sex_options[agentInfo[agent]['agent_gender']]['text']}}</p>
                <p class="title is-6">Age: {{agentInfo[agent]['agent_age']}} years old</p>
                <p class="title is-6">Agent since: {{agentInfo[agent]['agent_seniority']}}</p>
              </div>
            </div>
          </div>
        </div>
        <div id="graphDiv2"></div>
        <div class="select is-primary">
          <select [(ngModel)]="target" (ngModelChange)=generateGraph()>
            <option *ngFor="let option of targetOptions" [value]="option.id">{{option.value}}</option>
          </select>
        </div>
      </section>
    </div>
  </div>

  <div class="modal is-active" [ngClass]="{'modal': true, 'is-active': displayCallModal}">
    <div class="modal-background"></div>
    <div class="modal-card" style="width:90%; height: auto; text-align: center;">
      <header class="modal-card-head">
        <p class="modal-card-title">Odigo Routing Result</p>
        <button class="delete" aria-label="close" (click)="closeModals()"></button>
      </header>
      <section class="modal-card-body" *ngIf="agentInfo">
        <div class="columns is-gapless is-vcentered">
          <div class="column is-1"></div>
          <div class="column">
            <img src="../../../assets/boss.png" style="max-width: 250px" *ngIf="sex < 2">
            <img src="../../../assets/woman.png" style="max-width: 250px" *ngIf="sex == 2">
          </div>
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="title is-5" style="padding: 5px; margin: auto">Customer calling:</p>
              </header>
              <div class="card-content" style="text-align:left">
                <p class="title is-6">Intent: {{IVR_option[intent]['text']}}</p>
                <p class="title is-6">Sex: {{sex_options[sex]['text']}}</p>
                <p class="title is-6">Age: {{age}} years old</p>
                <p class="title is-6">Salary: {{salary_options[salary]['text']}}</p>
                <p class="title is-6">Client since: {{year_of_arrival}}</p>
              </div>
            </div>
          </div>
          <div class="column is-1"></div>
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="title is-5" style="padding: 5px; margin: auto">Routed agent:</p>
              </header>
              <div class="card-content" style="text-align:left">
                <p class="title is-6">Name: {{agentInfo[agent]['agent_name']}}</p>
                <p class="title is-6">Gender: {{sex_options[agentInfo[agent]['agent_gender']]['text']}}</p>
                <p class="title is-6">Age: {{agentInfo[agent]['agent_age']}}</p>
                <p class="title is-6">Working since: {{agentInfo[agent]['agent_seniority']}}</p>
              </div>
            </div>
          </div>
          <div class="column">
            <img src="../../../assets/male_agent.png" style="max-width: 250px" *ngIf="agentInfo[agent]['agent_gender'] < 2">
            <img src="../../../assets/female_agent.png" style="max-width: 250px" *ngIf="agentInfo[agent]['agent_gender'] == 2">
          </div>
          <div class="column is-1"></div>
        </div>
        <div id="graphDiv2" *ngIf="!displaySatisfaction"></div><br>
        <div *ngIf="displaySatisfaction">
          <p class="title is-4">End of call<br>Customer's satisfaction:</p>
          <img src="../../../assets/favorite.png" style="max-width:150px" *ngIf="stars[0]">
          <img src="../../../assets/favorite.png" style="max-width:150px" *ngIf="stars[1]">
          <img src="../../../assets/favorite.png" style="max-width:150px" *ngIf="stars[2]">
          <img src="../../../assets/favorite.png" style="max-width:150px" *ngIf="stars[3]">
          <img src="../../../assets/favorite.png" style="max-width:150px" *ngIf="stars[4]">
        </div>
      </section>
    </div>
  </div>
</div>