<div>
  <div id="style-1" style=" height: 750px;">
    <div class="box" style="background-color:hsl(345.5, 97.1%, 59.8%); margin-right: 5px; margin-left: 5px;">
      <article class="media">
        <div class="media-content">
          <div class="content" style="text-align: center">
            <strong style="color:white" *ngIf="retrainMessage.length == 0">
              Number of interactions: {{currentSimulation.interactions.length}}
            </strong>
            <strong style="color:white" *ngIf="retrainMessage.length > 0">
              {{retrainMessage}}
            </strong>
            <div class="columns is-gapless is-vcentered" id="trainbtn" *ngIf="currentSimulation.isTrained">
              <div class="column" id="column">
                <button class="button is-fullwidth is-success" style="border-radius: 10px;">Trained
                  <span class="icon is-small" style="margin-left: 10px">
                    <i class="fas fa-check"></i>
                  </span>
                </button>
              </div>
              <div class="column is-2" style="font-size: 140%; margin-top: 3px" id="column" (click)="sendRetrainOrder()">
                <span class="icon is-small" style="margin-left: 10px; color: white">
                  <i class="fas fa-redo-alt"></i>
                </span>
              </div>
            </div>
            <button class="button is-fullwidth top-item" style="border-radius: 10px;" id="trainbtn" *ngIf="!currentSimulation.isTrained">Training
              <span class="icon is-small" style="margin-left: 10px">
                <i class="fas fa-spinner fa-pulse"></i>
              </span>
            </button>
            <button class="button is-fullwidth top-item" style="border-radius: 10px;" (click)="triggerDownload()">Download interactions</button>
            <a id="downloadAnchorElem" style="display:none"></a>
            <button class="button is-fullwidth" style="border-radius: 10px;" (click)="sendUploadOrder()">Upload interactions</button>
          </div>
        </div>
      </article>
    </div>
    
    <div class="box" style="margin-right: 5px; margin-left: 5px;">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-5">
              Manage your agents
            </p>
            <div *ngFor="let status of agentStatus, index as index">
              <div class="button is-fullwidth top-item" [ngClass]="{'is-success': status == 12, 'is-danger': status != 12}">Agent {{index + 1}}</div>
            </div>
            <button class="button is-fullwidth is-rounded" (click)="refreshAvailability()">Refresh availability</button>
          </div>
        </div>
      </article>
    </div>
    
    <div
      class="box" 
      data-tooltip="You can at any time change the importance of each target in the routing decision. Putting a target coefficient to zero won't take it into account in the final routing"
      style="margin-right: 5px; margin-left: 5px;"
    > <!-- tooltip is-tooltip-right is-tooltip-multiline -->
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-5">
              Manage your objectives
            </p>
            <label class="label">Customer satisfaction: {{targets['customer_satisfaction']}}%</label>
            <input type="range" min="0" max="100" step="5" class="slider" [(ngModel)]="targets['customer_satisfaction']" (ngModelChange)="sendTargetChange('customer_satisfaction')">
            <label class="label">Agent satisfaction: {{targets['agent_satisfaction']}}%</label>
            <input type="range" min="0" max="100" step="5" class="slider" [(ngModel)]="targets['agent_satisfaction']" (ngModelChange)="sendTargetChange('agent_satisfaction')">
            <label class="label">Agent efficiency: {{targets['call_duration']}}%</label>
            <input type="range" min="0" max="100" step="5" class="slider" [(ngModel)]="targets['call_duration']" (ngModelChange)="sendTargetChange('call_duration')">
            <label class="label">Business outcome: {{targets['business_outcome']}}%</label>
            <input type="range" min="0" max="100" step="5" class="slider" [(ngModel)]="targets['business_outcome']" (ngModelChange)="sendTargetChange('business_outcome')">
          </div>
        </div>
      </article>
    </div>
  </div>
</div>