.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
    
    .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: hsl(345.5, 97.1%, 59.8%);
    cursor: pointer;
}
    
    .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: hsl(171, 100%, 41%);
    cursor: pointer;
}

.top-item{
    margin-bottom: 15px;
}

.columns {
    padding: 0;
}

#trainbtn{
    margin-bottom: 15px;
    margin-top: 15px;
}

.column {
    margin: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}

.title {
    text-align: center;
}

.label {
    font-size: 100%
}

.box {
    padding: 17px;
}